<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QC Sci-fi Animation</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  </head>
    <body>
        <div class="box">
            <ul>
              <li class="left" style="float:left"><a href="./index.ejs">QC Sci-fi & Animation Club</a></li>
              <li class="right"><a href="./patreon">Patreon</a></li>
              <li class="right"><a href="./checkout.ejs">Checkout</a></li>
              <li class="right"><a href="./deposit.ejs">Deposit</a></li>
              <li class="right"><a href="./register.ejs">Login/Register</a></li>
            </ul>
            <div class="space-small"></div>
        <div class="Sign-Up-Form">
            <h1> Register Form</h1>
            <form class="RegForm" action="/insert" method="post">
                <input type="First-Name" id="firstname" name="firstname" class="input-box" placeholder="Your First Name">
                <input type="Last-Name" id="lastname" name="lastname" class="input-box" placeholder="Your Last Name">
                <input type="Email" id="email" name="email" class="input-box" placeholder="Your Email">
                <input type="Password" id="password" name="password" class="input-box" placeholder="Your Password">
                <input type="Phone-Number" id="phone" name="phone" class="input-box" placeholder="Your Phone Number">
                <br>
                <button type="submit" class="signup-button"> Sign Up</button>
                <hr>
                <p class="or">OR</p>
                <p>Do you already have an account?
                    <br>
                    <a href="./login.ejs">Sign In</a> </p>
            </form>
        </div>
        <div class="bottom-right">
            <h6> 
                We dont own the rights to this image, nor do we know who it resides to
            </h6>
        </div>
    </body>
</html>